body {
    background: black;
    height: 100%;
    text-align: center;
    font-family: "Finger Paint", verdana;
}
#container {
    display: grid;
    background-image: url("../img/pixelgrass.png");
    grid-template-columns: 0.2fr 0.6fr  0.2fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: "top-left river top-right" 
    "btm-left river btm-right" ;
    row-gap: 7em;
    column-gap: 3em;
    /* padding: 0 .5em; */
    min-width: 100px;
    position: absolute;
    height: 100%;
}
main {
    grid-area: river;
}
#top-left {
    /* margin-left: 5em; */
    grid-area: top-left;
}
#top-right {
    grid-area: top-right;
}
#btm-left {
    /* margin-left: 5em; */
    grid-template-columns: btm-left;
}
#btm-right {
    grid-area: btm-right;
}
#top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    border-radius: 300px;
    width: 300px;
    height: 300px;
    margin: 6px;
  }
  canvas {
    background-image: url("../img/pixelwater.png");
    width: 600px;
    height: 100%;
    margin: 0;
  }

  #scoreBoardContainer{
    /* display: none; */
    position: absolute;
    background-image: url("../img/pixelwood.png");
    border-radius: 5px;
    border: 30px double rgb(77, 35, 15);
    color: white;
    z-index: 2;
    width: 500px;
    height: 500px;
    /* margin: 0 auto; */
    text-align: center;
    top: 25%;
    left: 390px;

  }
  #scoreboard{
    margin: 5px;
    line-height: 20px;
  }

  hr{
    color: white;
    width: 300px;
  height: 4px;
  }